<!DOCTYPE html>
<html lang="en">
<head>
  <title>MyBlog</title>
  <!-- META -->
  <base href="/blog/">
  <meta name="description" content="Stuff">
  <meta name="author" content="Marmolada">
  <meta charset="utf-8">
  <!-- INCLUDE -->
  {% block style %}
  <link rel="stylesheet" href="css/style.css" type="text/css">
  {% endblock %}
</head>
<body>
{% block body %}

{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% block script %}

{% endblock %}
</body>
</html>
